version: '3.8'
services:
  redis:
    image: redis:alpine
    networks:      
      - app-net
    ports:
      - "6379:6379"
  seq:
    image: datalust/seq:latest
    networks:      
      - app-net
    environment:
      - ACCEPT_EULA=Y
      - SEQ_FIRSTRUN_ADMINPASSWORD=password123! 
    ports:
      - "5341:80"
    volumes:
      - seq_data:/data
  rabbitmq:
    image: rabbitmq:3-management
    networks:      
      - app-net
    ports:
      - "5672:5672"
      - "15672:15672" 
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
  db:
    image: postgres:16-alpine
    networks:      
      - app-net
    environment:
      - POSTGRES_DB=eventticket
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data:
  seq_data:
  
networks:          
  app-net:       
    driver: bridge
    name: app-net
  
